<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="/news/feed.xml">
    {% include head-custom.html %}

{% seo %}
    <meta name="keywords" content="Yandex, Yandex 360, Яндекс, Яндекс 360, Яндекс 360 для бизнеса, CLI, ya360, автоматизация, администрирование"/>
    <meta name="yandex-verification" content="d88f3cc6866c5db1" />
    <!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(89493026, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/89493026" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
  </head>

  <body>

    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>

        <section id="downloads">
          {% if site.show_downloads %}
            <a href="{{ site.github.zip_url }}" class="btn">Скачать .zip</a>
            <a href="{{ site.github.tar_url }}" class="btn">Скачать .tar.gz</a>
          {% endif %}
          <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>Мы на GitHub</a>
          <a href='https://ya360.readthedocs.io/ru/latest/?badge=latest'><img src='https://readthedocs.org/projects/ya360/badge/?version=latest' alt='Documentation Status' /></a>
        </section>
      </div>
        <hr>
      <div class="container">
        <nav>
          <a href="/" class="btn">Главная</a>
          <a href="/install-and-config/" class="btn">Установка и настройка</a>
          <a href="/docs/" class="btn">Документация</a>
          <a href="https://github.com/imercury13/ya360/issues/new/choose" class="btn btn-github"><span class="icon"></span>Пожелания и ошибки</a>
          <a href="/contacts/" class="btn">Контакты</a>
      </nav>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
  </body>
</html>
